#grid-publish textarea,
#grid-publish input.regular-text {
	box-sizing: border-box;
	width: 100%;
}

#grid-publish textarea {
	margin: 10px 0 0 1px;
}

#grid-publish .meta {
	margin-top: 10px;
}

#grid-publish .meta select {
	float: left;
	width: 25%;
}

#grid-publish .meta input.regular-text {
	float: left;
	width: calc(75% - 12px);
	margin: 1px 0 0 10px;
}

#grid-publish .meta:after {
	clear: both;
	content: "";
	display: table;
}

#grid-publish .button {
	margin-top: 10px;
}
